<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
    <section name="sixeyed.messageQueue.messaging" type="Sixeyed.MessageQueue.Messaging.Configuration.MessagingConfiguration, Sixeyed.MessageQueue.Messaging" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <connectionStrings>
    <add name="UserModelContainer" 
         connectionString="metadata=res://*/Data.UserModel.csdl|res://*/Data.UserModel.ssdl|res://*/Data.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Sixeyed.MessageQueue;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="listenOnQueueName" value="doesuserexist"/>
  </appSettings>
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <sixeyed.messageQueue.messaging configSource="Messaging.config"/>
  
  <log4net>
    <appender name="debug" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>
    <appender name="rollingLog" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Sixeyed.MessageQueue.Handler.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="debug" />
      <appender-ref ref="console" />
      <appender-ref ref="rollingLog" />
    </root>
    <logger name="Sixeyed.MessageQueue.Handler">
      <level value="DEBUG" />
    </logger>
  </log4net>
  
</configuration>

